<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Boxcar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Chewy" %>
    <%= stylesheet_link_tag "app.css" %>
    <%= javascript_include_tag "app.js" %>
    <script>
      require('frontend/js/app').init();
    </script>
    <%= breakfast_autoreload_tag %>
  </head>

  <body>
    <div id="app" class="code pa5">
      <%= yield %>
    </div>
  </body>
</html>
