<!DOCTYPE html>
<html>
  <head>
    <title>Boxcar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "app.css" %>
    <%= javascript_include_tag "app.js" %>
    <script>require('frontend/js/app').init();</script>
    <%= breakfast_autoreload_tag %>
  </head>

  <body>
    <div id="app">
      <%= yield %>
    </div>
  </body>
</html>
